/* Homepage Header */
.homepage {
  background-image: url('../../assets/img/backgroundAboutHeaderpng.png');
  padding: 40px 0;
}
.homepage .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage__body {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homepage-img {
  width: 602px;
  height: 551px;
  background-image: url('../../assets/img/illustration.png');
  background-size: 100%;
  background-position: center;
}
.homepage-first-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
}
.homepage-title {
  font-size: 64px;
  line-height: 83px;
  font-weight: 900;
  color: #1E212C;
}
.homepage-btns {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.play-video {
  display: flex;
  align-items: center;
} 
.play-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FF3F3A;
}
.play-btn:hover {
  box-shadow: 5px 5px 10px #ff403aa5;
}
.homepage-statistics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 80px 0;
}
.statistic {
  display: flex;
  align-items: center;
}
.statistic-cout {
  font-size: 46px;
  line-height: 60px;
  font-weight: 900;
  color: #1E212C;
}
.statistic-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #1E212C;
  margin-left: 12px;
}
.orange-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FF3F3A;
}
/* Homepage Header */



/* Homepage About */
.homepage-about {
  padding: 100px 0;
}
.about__body {
  display: flex;
  justify-content: space-between;
}
.subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #1E212C;
}
.title {
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;
  color: #1E212C;
  margin-top: 15px;
}
.about-img {
  width: 705px;
  height: 560px;
  background-image: url('../../assets/img/about.png');
  background-size: 100%;
}
.about-info {
  display: flex;
  flex-direction: column;
}
.description-list {
  margin-top: 30px;
  max-width: 390px;
  padding-left: 20px;
}
.list-items {
  list-style: url('../../assets/svg/check.svg');
  font-size: 16px;
  line-height: 26px;
}

/* Homepage About */

/* Homepage Courses */
.homepage-courses {
  padding: 40px 0;
}
.homepage-courses-list {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  row-gap: 30px;
  justify-content: space-between;
}
.course-card {
  display: flex;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #9A9CA5;
  cursor: pointer;
  transition: all .7s ease;
}
.course-card:hover {
  transform: scale(1.05);
}
.courseimg {
  width: 214px;
  
} 
.courseimg img {
  width: 100%;
  height: 214px;
  object-fit: cover;
}
.course-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 320px;
  margin-left: 30px;
}
.course-type {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  padding: 0 10px;
  border-radius: 4px;
}
.course-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.course-price {
  color: #FF4242;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.course-price span {
  font-weight: 400;
  color: #787A80;
}
.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Homepage Courses */

/* Homepage Benefits */
.homepage-benefits {
  padding: 40px 0px 0px 0px;
}
.homepage-benefits__body {
  display: flex;
  flex-direction: column;
}
.benefits-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.benefit-btn {
  font-size: 16px;
  font-weight: 700;
  color: #9A9CA5;
  line-height: 26px;
  cursor: pointer;
  padding: 5px 70px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50px;
  fill: inherit;
}
.benefit-description {
  max-width: 500px;
}
.benefit-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 42px;
}
.benefit-body {
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px;
}
.benefit-img {
  width: 600px;
  height: 440px;
  background-image: url('../../assets/img/benefitillustrarion.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.active-btn {
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  fill: #FF3F3A;
  stroke: #FF3F3A;
  
}

/* Homepage Benefits */


/* Homepage Events */

.homepage-events {
  padding: 30px 0;
  background-image: url('../../assets/img/backgroundHomepageEvents.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-events .container {
  padding-top: 150px;
}
.event-card {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 4px;
  padding: 45px 40px;
  transition: all .7s ease;
}
.event-card:hover {
  box-shadow: 0px 20px 24px rgba(255, 63, 58, 0.3);
  transform: scale(1.01);
}
.event-card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event-day {
  font-size: 48px;
  line-height: 62px;
  color: #FF3F3A;
  font-weight: 900;
}
.event-month {
  font-size: 20px;
  line-height: 30px;
  color: #1E212C;
  font-weight: 700;
}
.event-time {
  font-size: 16px;
  line-height: 26px;
  color: #787A80;
}
.event-name {
  width: 750px;
  font-size: 20px;
  line-height: 30px;
  color: #1E212C;
  font-weight: 700;
}
.event-type {
  font-size: 16px;
  line-height: 26px;
  color: #787A80;
}
.more {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #1E212C;
  margin-right: 30px;
}
/* Homepage Events */


/* Homepage Certificate */
.homepage-certificate {
  padding-top: 80px;
}
.homepage-certificate__body {
  display: flex;
  justify-content: space-between;
}
.certificate-description {
  max-width: 400px;
}
.certificate-text {
  margin-top: 40px;
}
.certificate-img {
  position: relative;
  left: 40px;
}
.logos {
  width: 105px;
  height: 50px;
  background-size: 100%;
}
.certificate-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.logos1 {
  background-image: url('../../assets/img/Del\ Mar\ Strategy\ Logo\ 1.png');
} 
.logos2 {
  background-image: url('../../assets/img/National\ Health\ Logo\ 1.png');
}
.logos3 {
  background-image: url('../../assets/img/Sentinal\ Consulting\ Logo\ 1.png');
}
/* Homepage Certificate */


/* Homepage Team */
.homepage-team {
  padding: 70px 0 70px 0;
  background: url('../../assets/img/BackgroundHomepageTeam.png');
}
.member-card {
  position: relative;
}
.member-img {
  width: 285px;
  height: 340px;
  margin: 0 auto;
}
.member-img img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 4px;
  text-align: center;
}
.member-name {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  color: #424551;
  margin-top: 15px;
}
.member-position {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #787A80;
}
.member-info {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 60px;
  width: 285px;
  height: 100px;
  background: linear-gradient(rgba(30, 33, 44, 0), rgba(30, 33, 44, 0.33), rgba(30, 33, 44, 0.56), rgba(30, 33, 44, 0.7682), rgba(30, 33, 44, 0.92));
  left: 20px;
  bottom: 70px;
}
.member-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}
.member-facebook {
  background-image: url('../../assets/svg/Facebook.svg');
  margin-right: 8px;
}
.member-instagram {
  background-image: url('../../assets/svg/Instagram.svg');
  margin-right: 10px;
}
.member-linkedin {
  background-image: url('../../assets/svg/Linked-In.svg');
}

.comment-card {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 70px;
  max-width: 1020px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 50px;
}
.comment__body {
  max-width: 752px;
}
.comment-text {
  font-size: 20px;
  line-height: 30px;
  color: #424551;
}
.comment-name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #1E212C;
}
.slick-dots li button:before {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #424551;
  margin-top: 20px;
}
.slick-dots li {
  margin: 0 10px;
}
.braces {
  width: 28px;
  height: 20px;
  background-image: url('../../assets/svg/braces.svg');
  background-size: cover;
}
/* Homepage Team */