li {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.navbar__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar-menu {
  width: 70%;
}
.logo {
  width: 130px;
  height: 22px;
  background-image: url('../../assets/svg/logo.svg');
  background-size: 100%;
}
.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.navbar-btns {
  display: flex;
  margin-right: 50px;
}
.account {
  display: flex;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
}
.account-logo {
  width: 20px;
  height: 20px;
  background-image: url('../../assets/svg/Profile.svg');
  background-size: 100%;
}